main(style="max-width:fit-content; margin: auto;")
  h1 Open-iconic icons
  p A table of all the icons.
  - const COLUMNS = 7
  - var rows = Math.ceil(images.length/COLUMNS)
  table
    tbody
      - for (var r = 0; r < rows; r++)
        - var imagesSubList = images.slice(COLUMNS*r, COLUMNS*r + COLUMNS)
          tr
            each image in imagesSubList
              td
                image(src=image.path, style='margin-top:20px;')
                div(style='margin-top:2px;')= image.name
